# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/

# Data / big artifacts
*.csv
*.tsv
*.parquet/
skinny_table.parquet/
freq_city.parquet/
top10_by_price.parquet/
monthly_summary.parquet/

# Jupyter/IDE
.ipynb_checkpoints/


# allow artifacts CSVs
!artifacts/**/*.csv
